.dayofweek {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 4rem;
        border-bottom: 1px solid #c8cad4;
    }
    .cell {
        font-size: 1.4rem;
        line-height: 2rem;
        color: var(--blue-grey-400);
        font-weight: 500;
        letter-spacing: 0.1em;
        text-align: center;
        user-select: none;
    }
}
