.month-indicator {
  display: grid;
  grid-template-columns: 1fr;
  color: #7e8292;
  background-color: #f5f5fa;
  width: 10rem;
  height: inherit;

  @media screen and (min-width: 768px) {
    width: 12rem;
  }

  .month-button {
    position: relative;
    border: 0;
    border-radius: 1px;
    background-color: transparent;
    color: var(--blue-grey-600);
    text-align: left;
    cursor: pointer;
    user-select: none;
    &:hover,
    &:focus {
      outline: none;
    }
    &:hover,
    &:active,
    &.is-selected {
      color: var(--teal-900);
      font-weight: 700;
    }
  }
}
