.calendar{
    display: grid;
    grid-template-columns: auto [container-start]1fr[container-end];
}
.calendar-container {
    grid-column: container;
    display: grid;
    grid-template-columns: [calendar-start]1fr[calendar-end];
    grid-template-rows: [week-start] auto [week-end] auto [month-start] auto [month-end];
    max-width: max-content;
    height: 34rem;
    background-color: #fff;
    overflow: hidden;   
    margin-left: 1rem;

   

    .week {
        grid-row: week;
        grid-column: calendar;
    }
    .month-container {
        grid-row: month;
        grid-column: calendar;
        overflow: auto;
        -ms-overflow-style: auto;
        overflow-y: scroll; /* has to be scroll, not auto */
        -webkit-overflow-scrolling: touch;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}
