.monthgrid-container{
    .month-name {        
        font-size: 1.4rem;
        line-height: 2rem;    
        text-transform: capitalize;
        user-select: none;
    }
    .month-grid{
        display: grid;
        grid-template-columns: repeat(7, 1fr);   
       
    }
}

